
/*========= COLORS =======*/
$pcolor: #009688;
$black: #000000;
$white: #FFFFFF;
$orange: #FF9800;
$brown: #F27B13;
$red: #8C2020;
/*========= FONT FAMILY =======*/
@import url(https://fonts.googleapis.com/css?family=Lobster+Two:400,700);
$helvetica: "Helvetica Neue",Arial,Verdana,sans-serif;


/*========= FONT SIZE =======*/
$p20: 20px;
